services:
  web:
    build: .
    volumes:
      - .:/app
      - bundle:/bundle
    ports:
      - "3000:3000"
    depends_on:
      - db
    command: >
      bash -c "
      rm -f tmp/pids/server.pid &&
      bundle exec rails s -b 0.0.0.0
      "

  db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: rails_case_development
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  bundle:
  postgres_data:
